<div{{ attributes }} data-poll="delay(500)|$render">
    {% if not this.quiz.isCurrentQuestionFinished %}
        <span>{{ this.quiz.secondsRemaining }}</span>
        <span>{{ this.quiz.countAnswered }}/{{ this.quiz.participants.count }}</span>
        <h1>{{ this.question.question }}</h1>
        {% for answers in this.question.answers|batch(2) %}
            <ul class="list-group list-group-horizontal">
                {% for answer in answers %}
                    <li class="list-group-item">{{ answer.content }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    {% else %}
        {% for answerBatch in this.answerBreakdownToCurrentQuestion|batch(2) %}
            <ui class="list-group list-group-horizontal">
                {% for answer in answerBatch %}
                    <li class="list-group-item">
                        <span class="badge {% if answer.answer.correct|default(false) %}bg-success{% else %}bg-primary{% endif %}">{{ answer.chosenBy|length }}</span> {{ answer.answer.content|default("Didn't Answer") }}
                    </li>
                {% endfor %}
            </ui>
        {% endfor %}
        <twig:Leaderboard quiz="{{ quiz }}"/>
        {% if not this.lastQuestion %}
            <button class="btn btn-primary" data-action="live#action" data-live-action-param="nextPage">Next</button>
        {% else %}
            <a class="btn btn-primary" data-action="live#action" data-live-action-param="nextPage">Finish</a>
        {% endif %}
    {% endif %}
</div>
